@charset "utf-8";

@font-face {
	font-family: 'icomoon';
	src: url('fonts/icomoon.eot?e93qyk');
	src: url('fonts/icomoon.eot?e93qyk#iefix') format('embedded-opentype'),
		url('fonts/icomoon.ttf?e93qyk') format('truetype'),
		url('fonts/icomoon.woff?e93qyk') format('woff'),
		url('fonts/icomoon.svg?e93qyk#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
	content: "\e900";
	color: #777;
}

.icon-save:before {
	content: "\e902";
	color: #8d8d8d;
}

.icon-basket:before {
	content: "\e903";
	color: #8d8d8d;
}

.icon-edit-2:before {
	content: "\e904";
}


* {
	margin: 0;
	padding: 0;
}

body {
	color: #BDBDBD;
	background-color: #e7e7e7;
	font-family: 'Lato', 'Roboto', sans-serif;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.container {
	max-width: 1300px;
	margin: 0 auto;
}

.body__picker {
	position: relative;
	height: 645px;
	width: 320px;
	background-color: #313131;
	border-radius: 20px;
	padding: 0 15px;
	margin: 0 auto;
}

.picker__lable {
	font-size: 12px;
	font-weight: bold;
	color: #A0A0A0;
}

.picker__input input {
	width: 175px;
	height: 40px;
	border-radius: 6px;
	background-color: #424242;
	border: 1px solid #5F5F5F;
	padding-left: 15px;
	color: #BFBFBF;
	margin-left: 15px;
	margin-bottom: 17px;
}

.picker__input input::placeholder {
	color: #BFBFBF;
}

.picker__select {
	display: flex;
	align-items: center;
	margin-bottom: 30px;
}

.picker__select-type {
	width: 175px;
	height: 40px;
	border-radius: 6px;
	background-color: #424242;
	border: 1px solid #5F5F5F;
	padding-left: 15px;
	color: #BFBFBF;
	margin-left: 26px;
	line-height: 35px;
}

.picker__title {
	padding-top: 20px;
	padding-bottom: 27px;
	color: #FFF;
	font-size: 18px;
	font-weight: 400;
	text-align: center;
}

.picker__wrapper {
	width: 255px;
	min-height: 380px;
	position: relative;
	background-color: #444444;
	border-radius: 6px;
	margin: 0 auto;
}

.picker__btn {
	background-color: #53CBF1;
	border: 1px solid #53CBF1;
	color: #fff;
	width: 256px;
	height: 35px;
	border-radius: 100px;
	display: block;
	margin: 18px auto 0;
	font-weight: 600;
	transition: background-color 0.3s;
}

.picker__btn:hover {
	background-color: transparent;
}

.picker__type-color {
	display: flex;
	align-items: center;
	margin-top: 7px;
}

.picker__type-color p {
	font-size: 12px;
}

.picker__type {
	border: 1px solid #5F5F5F;
	border-radius: 2px;
	padding-left: 8px;
	width: 68px;
	height: 25px;
	line-height: 24px;
	margin-left: 7px;
}

.picker__res {
	width: 90px;
	height: 25px;
	border: 1px solid #5F5F5F;
	border-radius: 2px;
	text-align: center;
	line-height: 24px;
	margin-left: 7px;
}

.out_color {
	width: 25px;
	height: 25px;
	background-color: #FFF;
	border: 1px solid #5B5B5B;
	top: 0;
	left: 100%;
	border-radius: 3px;
	margin-left: 5px;
}

.picker {
	position: absolute;
	margin: 0 auto;
	top: 7px;
	left: 5px;
	-moz-user-select: none;
	-webkit-user-select: none;
	width: 250px;
}

#block_picker {
	background-color: red;
	height: 220px;
	width: 215px;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	-webkit-user-select: none;
}

#block_picker img {
	width: 213px;
	height: 218px;
	border: 1px solid #5F5F5F;
}

#line {
	position: absolute;
	left: 219px;
	height: 217px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	-webkit-user-select: none;
	border: 1px solid #5F5F5F;
	border-radius: 1px;
}



.left_arrow {
	width: 23px;
	height: 2px;
	position: absolute;
	background-color: #fff;

}

#arrows {
	position: absolute;
	top: 0;
	width: 40px;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	-webkit-user-select: none;

}

#circle {
	width: 25px;
	height: 25px;
	border: 1px solid #5B5B5B;
	border-radius: 50%;
	position: absolute;
	left: 0;
	top: 0;
	cursor: default;
	-moz-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	-webkit-user-select: none;
}

.square {
	position: absolute;
	top: 30%;
	left: 70%;
	height: 30px;

}

.square input {
	width: 80px;
	height: 25px;

}

.cO {
	width: 20px;
	height: 19px;
	background-color: white;
	float: right;
	border-radius: 0 10px 10px 0;
}

/* ===table===================================================================================================================================================== */

table {
	width: 680px;
	background-color: #313131;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	margin: 40px auto;
}

caption {
	background-color: #313131;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	font-weight: 600;
	font-size: 18px;
	line-height: 22px;
	padding: 20px 0 25px;
	color: #fff;
	position: relative;
}

caption button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	position: absolute;
}

.table__btn-save {
	right: 51px;
	top: 24px;
}

.table__btn-close {
	right: 20px;
	top: 24px;
}

th {
	color: #fff;
	font-size: 18px;
	min-width: 115px;
	text-align: start;
}

th,
td {
	height: 54px;
	padding-left: 15px;
	background-color: rgba(66, 66, 66, 1);
}

td {
	font-size: 14px;
	line-height: 15px;
	position: relative;
}

td span {
	width: 40px;
	height: 40px;
	background-color: #fff;
	position: absolute;
	top: 7px;
	left: 46px;
}

.table__btn-add td {
	background-color: transparent;
	text-align: center;
}

.table__btn-add button {
	width: 220px;
	height: 35px;
	font-weight: 700;
	font-size: 12px;
	color: #fff;
	border: 1px solid #53CBF1;
	border-radius: 100px;
	transition: background-color .3s;
}

.table__btn-add button:hover {
	background-color: #53CBF1
}

.delete,
.pencil {
	cursor: pointer;
	text-align: center;
	padding: 0;

}

.delete::before,
.pencil::before {
	transition: color 0.3s;
}

.icon-basket:hover::before {
	color: #CA4C4C;
}

.icon-edit-2:hover:before {
	color: #53CBF1;
}

/* ===table===================================================================================================================================================== */